.title {
  font-weight: bold;
  font-size: 2.5rem;
}

.subtitle {
  font-weight: 600;
  font-size: 1.25rem;
}

.bodyText {
  font-weight: 500;
  font-size: 1.1rem;
}

.sectionBackground {
  background-color: #278ea55a;
  border-radius: 8px;
  padding: 1.25rem; /* Adjust padding inside the background */
  margin: 1.25rem -1.25rem; /* Adjusts the outer spacing to keep text aligned */
}

.introSection {
  padding-bottom: 1rem; /* Reduced padding for less space */
}

/* New styles for the CTA section */
.ctaSection {
  margin-top: 4rem;
  padding: 2rem;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.ctaButton {
  margin-top: 1rem;
}

.imageContainer {
  width: 100%;
  max-width: 350px;
  aspect-ratio: 3 / 5; /* Keeps a proportional aspect ratio */
  overflow: hidden;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
