/* global.css */
body,
html {
  height: 100%;
  margin: 0;
  
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Quicksand", serif;
  font-weight: 400; /* Default weight, can be overridden */
  font-optical-sizing: auto;
}

main {
  flex: 1;
}

@font-face {
    font-family: "Quicksand";
    src: url("../assets/fonts/Quicksand-VariableFont_wght.ttf") format("truetype");
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 300 700;
  }


  .quicksand-heading {
    font-family: "Quicksand", serif;
    font-weight: 700;
  }
  
  .quicksand-body {
    font-family: "Quicksand", serif;
    font-weight: 400;
  }
  
