/* global.css */
body,
html {
  height: 100%;
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

@font-face {
  font-family: "Knewave";
  src: url("/src/assets/fonts/Knewave-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.font-knewave {
  font-family: "Knewave", "ui-sans-serif", "system-ui";
}

.link {
  color: inherit; /* Default text color */
  text-decoration: none; /* Remove underline */
  transition: color 0.3s ease; /* Smooth color transition */
}

.link:hover {
  color: #278ea5; /* Change this to your desired hover color */
  text-decoration: underline; /* Optional: add underline on hover */
}
