.navItemActive {
    display: inline-block;
    margin-right: 1rem;
    font-size: 1.5rem;
    transition: all 0.2s ease-in-out;
    color: #fdb627;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-bottom: 1px solid;
}

.navItemInactive {
    display: inline-block;
    margin-right: 1rem;
    font-size: 1.12rem;
    transition: all 0.2s ease-in-out infinite;
    padding: 0.5rem 1rem;
    margin-top: 1.5rem;
}