.container {
  width: 70%; /* Maintain width */
  max-width: 1200px;
  margin: 0 auto; /* Center horizontally and remove vertical margin */
  padding: 1.5rem; /* Adjust padding for content */
  background-color: var(--background-color);
  border-radius: 12px;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
  overflow-y: auto;
  max-height: calc(100vh - 4rem); /* Reduce the space for header and footer */
}

.darkMode {
  background-color: #3f3f3f;
  color: white;
}

.textField {
  background-color: #ffffff;
  border-radius: 8px;
}

.darkMode .textField {
  background-color: #4f4f4f;
  color: white;
}

.estimatedCost {
  margin-top: 20px;
  font-weight: bold;
  text-align: center;
}

.button {
  margin-top: 20px;
  font-weight: bold;
  background-color: #1976d2;
  color: white;
}

.darkMode .button {
  background-color: #278ea5;
}
