/* ServicesPage.module.css */
.serviceOptions {
    display: flex;
    justify-content: center;
    gap: 2rem; /* Adjust the gap between cards */
    margin: 2rem;
  }
  
 /* ServicesPage.module.css */
.serviceCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    cursor: pointer;
    box-shadow: 0 14px 14px rgb(65, 65, 65);
    transition: transform 0.2s ease-in-out;
    border-radius: 10px;
  }
  
  .serviceCard:hover {
    transform: scale(1.05);
  }
  