/* ServicesPage.module.css */
.serviceOptions {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

/* ServicesPage.module.css */
.serviceCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  margin: 1rem;
  cursor: pointer;
  box-shadow: 0 14px 14px rgb(65, 65, 65);
  transition: transform 0.2s ease-in-out;
  border-radius: 10px;
}

.serviceCard:hover {
  transform: scale(1.05);
  background-color: #b6e1e0;
}

@media (max-width: 768px) {
  .serviceOptions {
    flex-direction: column;
    margin: 0.9rem;
    gap: 0.1rem;
  }

  .serviceCard {
    max-width: 100%;
    margin-top: 2.5rem;
  }

  .lottie {
    width: 100%;
    margin-right: 10%;
  }
}

