/* App.css */
.dark-mode {
  --bg-color: #3f3f3f;
  --text-color: #f0eeee; 
  --link-color: #f7b633; 
  --link-hover-color: #b6e1e0;

  --nav-bg-color: #3f3f3f;
  --nav-text-color: #f0eeee;
  --nav-link-color: #f7b633;
  --nav-link-hover-color: #b6e1e0;
}

.light-mode {
  --bg-color: #f7b633;
  --text-color: #3f3f3f; 
  --link-color: #f7b633; 
  --link-hover-color: #b6e1e0;

  --nav-bg-color: #b6e1e0;
  --nav-text-color: #3f3f3f;
  --nav-link-color: #f7b633;
  --nav-link-hover-color: #f7b633;
}

.dark-mode body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

.dark-mode nav {
  background-color: var(--nav-bg-color);
  color: var(--nav-text-color);
}

.dark-mode .nav-link {
  color: var(--nav-link-color);
}

.dark-mode .nav-link:hover {
  color: var(--nav-link-hover-color);
}



.color-blind-mode {
}

.color-blind-mode .nav-link {

}

.color-blind-mode .nav-link:hover {

}
